
body {width:100%;padding-top:90px;height:100%;background-image:url('assets/images/bg-general.jpg');background-attachment:fixed;background-position:center -150px;background-size:cover;background-repeat: no-repeat}

.desktop {display:none}

#nav {
	& {width: 100%; height:90px;position:fixed;top:0px;left:0px;z-index:1000;border-bottom:1px solid #ccc;background:white}
	.header {padding:10px 15px 0px 15px;height:60px}
	.logo {height:100%}
	.logo img {height:100%}
	.menu-link {position:fixed;right:15px;top:30px;font-size:16px;height:30px;line-height:30px;color:#be9567;width:115px}
	.menu-link > div {line-height:30px;height:30px;float:right}
	.menu-link .menu-icon {display:block;float:left;width:30px;height:30px;background-image:url('assets/images/icon-menu.png');background-repeat:no-repeat;background-position:center;background-size:18px 18px}
	.menu-link.closable .menu-icon {background-image:url('assets/images/icon-close.png');background-size:12px 12px}
	.menu {
		& {position:fixed;left:0px;padding-top:15px;padding-right:15px;top:90px;height:calc(100% - 90px);box-sizing:border-box;background:white;margin:0px;width:100%;list-style:none;opacity:0.95}
		li {line-height:2.5;text-align:right;width:100%;font-size:18px;}
		li .mobile {border-bottom:1px dotted #ccc;display:inline-block;}
		.search {display:none}
	}
	.menu.noshow {
		& {display:none;opacity:0}
	}
}

#nav-divider {width:100%;z-index:1000;position:fixed;top:80px;left:0px;height:10px;background-repeat:repeat-x;background-size:auto 100%;background-image:url('assets/images/header-divider.png')}

.page.frontpage {
	#slides {
		& {padding-top:20px}
		.wrapper {
			& {text-align:center}
			img {width:90%}
		}
	}
	
	.btn {
		display:inline-block;padding:8px 50px;font-size:16px;background:#AE773E;color:white;border-radius:-5px
	}
	
	.content {
		& {padding-top:30px;width:100%}
		> div {box-sizing:border-box}
		h2 {margin:0px;padding:0px}		
		div {background-repeat:no-repeat;background-size:cover;background-position:center}
		.more {margin:auto;width:132px;margin-top:30px}
		.news {background-image:url('assets/images/bg-news.jpg');}
		.news ul {			
			list-style-image:url("assets/images/list-square.png")!important;
			padding-left:20px;
		}	
		.news ul li {
			& {font-size:18px;line-height:1.5;margin-top:15px}
			.date {display:inline-block; margin-left:15px;font-size:14px;color:#666}
			a:hover {color:#886742}			
		}
		.news h2 {color:#886742;margin-left:20px}		
		.tickets {background-image:url('assets/images/bg-tickets.jpg');}
		.tickets h2 {color:#3d5079}
		.news, .tickets  {
			&  {padding:25px;position:relative}
			h2 {font-size:24px;font-weight:normal}
			h2.eng {font-size:16px}
		}	
	
		.antiques {
			& {position:relative}
			.intro {background-image:url('assets/images/bg-antiques.jpg');padding-bottom:30px}
			.intro img {margin-top:30px}			
		}
		.examples {
			ul {list-style:none;width:100%;margin:0px;padding:0px}
			ul li {float:right;width:50%;position:relative;line-height:0.5}
			.accordion {margin:0px}
			.accordion {	
				img {vertial-align:middle;text-align:center}			
				.name {position:absolute;top:15px;left:15px;z-index:10}
				.name img {width:30%}
				a {display:block;height:100%;width:100%}
			}
			.item1.slider-closed {
				.mask {background-color:rgba(0,158,107,0.7);display:block}
			}
			.item2.slider-closed {
				.mask {background-color:rgba(222,0,0,0.7);display:block}
			}
			.item3.slider-closed {
				.mask {background-color:rgba(0,27,81,0.7);display:block}
			}				
			.item4.slider-closed {
				.mask {background-color:rgba(214,161,43,0.7);display:block}
			}			
		}
	}	
}

#footer {
	& {
		font-size:12px;
		height:120px;
		width:100%;clear:both;float:none;
		background-color:#2D2D2D;background-image:url('assets/images/footer-divider.jpg');
		background-size:auto 50px;background-repeat:repeat-x;background-position:top left;
	}
	.wrapper {
		padding-top:75px;text-align:center;color:white
	}		
}