body {
  width: 100%;
  padding-top: 90px;
  height: 100%;
  background-image: url("assets/images/bg-general.jpg");
  background-attachment: fixed;
  background-position: center -150px;
  background-size: cover;
  background-repeat: no-repeat; }

.desktop {
  display: none; }

#nav {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  background: white; }

#nav .header {
  padding: 10px 15px 0px 15px;
  height: 60px; }

#nav .logo {
  height: 100%; }

#nav .logo img {
  height: 100%; }

#nav .menu-link {
  position: fixed;
  right: 15px;
  top: 30px;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  color: #be9567;
  width: 115px; }

#nav .menu-link > div {
  line-height: 30px;
  height: 30px;
  float: right; }

#nav .menu-link .menu-icon {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background-image: url("assets/images/icon-menu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px; }

#nav .menu-link.closable .menu-icon {
  background-image: url("assets/images/icon-close.png");
  background-size: 12px 12px; }

#nav .menu {
  position: fixed;
  left: 0px;
  padding-top: 15px;
  padding-right: 15px;
  top: 90px;
  height: calc(100% - 90px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  margin: 0px;
  width: 100%;
  list-style: none;
  opacity: 0.95; }

#nav .menu li {
  line-height: 2.5;
  text-align: right;
  width: 100%;
  font-size: 18px; }

#nav .menu li .mobile {
  border-bottom: 1px dotted #ccc;
  display: inline-block; }

#nav .menu .search {
  display: none; }

#nav .menu.noshow {
  display: none;
  opacity: 0; }

#nav-divider {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 80px;
  left: 0px;
  height: 10px;
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-image: url("assets/images/header-divider.png"); }

.page.frontpage #slides {
  padding-top: 20px; }

.page.frontpage #slides .wrapper {
  text-align: center; }

.page.frontpage #slides .wrapper img {
  width: 90%; }

.page.frontpage .btn {
  display: inline-block;
  padding: 8px 50px;
  font-size: 16px;
  background: #AE773E;
  color: white;
  border-radius: -5px; }

.page.frontpage .content {
  padding-top: 30px;
  width: 100%; }

.page.frontpage .content > div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.page.frontpage .content h2 {
  margin: 0px;
  padding: 0px; }

.page.frontpage .content div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.page.frontpage .content .more {
  margin: auto;
  width: 132px;
  margin-top: 30px; }

.page.frontpage .content .news {
  background-image: url("assets/images/bg-news.jpg"); }

.page.frontpage .content .news ul {
  list-style-image: url("assets/images/list-square.png") !important;
  padding-left: 20px; }

.page.frontpage .content .news ul li {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 15px; }

.page.frontpage .content .news ul li .date {
  display: inline-block;
  margin-left: 15px;
  font-size: 14px;
  color: #666; }

.page.frontpage .content .news ul li a:hover {
  color: #886742; }

.page.frontpage .content .news h2 {
  color: #886742;
  margin-left: 20px; }

.page.frontpage .content .tickets {
  background-image: url("assets/images/bg-tickets.jpg"); }

.page.frontpage .content .tickets h2 {
  color: #3d5079; }

.page.frontpage .content .news, .page.frontpage .content .tickets {
  padding: 25px;
  position: relative; }

.page.frontpage .content .news h2, .page.frontpage .content .tickets h2 {
  font-size: 24px;
  font-weight: normal; }

.page.frontpage .content .news h2.eng, .page.frontpage .content .tickets h2.eng {
  font-size: 16px; }

.page.frontpage .content .antiques {
  position: relative; }

.page.frontpage .content .antiques .intro {
  background-image: url("assets/images/bg-antiques.jpg");
  padding-bottom: 30px; }

.page.frontpage .content .antiques .intro img {
  margin-top: 30px; }

.page.frontpage .content .examples ul {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px; }

.page.frontpage .content .examples ul li {
  float: right;
  width: 50%;
  position: relative;
  line-height: 0.5; }

.page.frontpage .content .examples .accordion {
  margin: 0px; }

.page.frontpage .content .examples .accordion img {
  vertial-align: middle;
  text-align: center; }

.page.frontpage .content .examples .accordion .name {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10; }

.page.frontpage .content .examples .accordion .name img {
  width: 30%; }

.page.frontpage .content .examples .accordion a {
  display: block;
  height: 100%;
  width: 100%; }

.page.frontpage .content .examples .item1.slider-closed .mask {
  background-color: rgba(0, 158, 107, 0.7);
  display: block; }

.page.frontpage .content .examples .item2.slider-closed .mask {
  background-color: rgba(222, 0, 0, 0.7);
  display: block; }

.page.frontpage .content .examples .item3.slider-closed .mask {
  background-color: rgba(0, 27, 81, 0.7);
  display: block; }

.page.frontpage .content .examples .item4.slider-closed .mask {
  background-color: rgba(214, 161, 43, 0.7);
  display: block; }

#footer {
  font-size: 12px;
  height: 120px;
  width: 100%;
  clear: both;
  float: none;
  background-color: #2D2D2D;
  background-image: url("assets/images/footer-divider.jpg");
  background-size: auto 50px;
  background-repeat: repeat-x;
  background-position: top left; }

#footer .wrapper {
  padding-top: 75px;
  text-align: center;
  color: white; }

/*# sourceMappingURL=style-mobile.css.map */
