/**
 * Variables
 */
$nav-height:75px;

body {overflow-x:hidden;width:100%;padding-top:$nav-height+15px;height:100%;background-image:url('assets/images/bg-general.jpg');background-attachment:fixed;background-position:center -150px;background-size:cover;background-repeat: no-repeat}

.hidden {display:none!important}
.desktop {display:none}

.mobile.page-title {
	text-align:center;padding-top:15px;width:300px;margin:auto;border-bottom:1px dotted #ccc;padding-bottom:15px
}

#nav {
	& {width: 100%; height:$nav-height;position:fixed;top:0px;left:0px;z-index:1000;border-bottom:1px solid #ccc;background:white}
	.header {padding:10px 15px 0px 15px;height:55px}
	.logo {height:55px}
	.logo img {height:55px}
	.menu-link {position:fixed;right:15px;top:25px;font-size:16px;height:30px;line-height:30px;color:#be9567;width:115px}
	.menu-link > div {line-height:30px;height:30px;float:right}
	.menu-link .menu-icon {display:block;float:left;width:30px;height:30px;background-image:url('assets/images/icon-menu.png');background-repeat:no-repeat;background-position:center;background-size:18px 18px}
	.menu-link.closable .menu-icon {background-image:url('assets/images/icon-close.png');background-size:12px 12px}
	.menu {
		& {position:fixed;left:0px;padding-top:15px;padding-right:15px;top:$nav-height;height:calc(100% - #{$nav-height});box-sizing:border-box;background:white;margin:0px;width:100%;list-style:none;opacity:0.95}
		li {line-height:2.5;text-align:right;width:100%;font-size:18px;}
		li .mobile {border-bottom:1px dotted #ccc;display:inline-block;}
		.search {display:none}
	}
	.menu.noshow {
		& {display:none;opacity:0}
	}
}

#nav-divider {width:100%;z-index:1000;position:fixed;top:$nav-height;left:0px;height:15px;background-repeat:repeat-x;background-size:auto 100%;background-image:url('assets/images/header-divider.png')}

.page.frontpage {
	#slides {
		& {padding-top:20px;width:90%;margin:auto}
		.wrapper {
			& {text-align:center}
			img {width:90%}
		}
	}
	
	.btn {
		display:inline-block;padding:8px 50px;font-size:16px;background:#AE773E;color:white;border-radius:-5px
	}
	
	.content {
		& {padding-top:30px;width:100%}
		> div {box-sizing:border-box}
		h2 {margin:0px;padding:0px}		
		div {background-repeat:no-repeat;background-size:cover;background-position:center}
		.more {margin:auto;width:132px;margin-top:30px}
		.news {background-image:url('assets/images/bg-news.jpg');}
		.news ul {			
			list-style-image:url("assets/images/list-square.png")!important;
			padding-left:20px;
		}	
		.news ul li {
			& {font-size:18px;line-height:1.5;margin-top:15px}
			.date {display:inline-block; margin-left:15px;font-size:14px;color:#666}
			a:hover {color:#886742}			
		}
		.news h2 {color:#886742;margin-left:20px}		
		.tickets {background-image:url('assets/images/bg-tickets.jpg');}
		.tickets h2 {color:#3d5079}
		.news, .tickets  {
			&  {padding:25px;position:relative}
			h2 {font-size:24px;font-weight:normal}
			h2.eng {font-size:16px;margin-top:5px}
		}	
	
		.antiques {
			& {position:relative}
			.intro {background-image:url('assets/images/bg-antiques.jpg');padding-bottom:30px}
			.intro img {margin-top:30px}			
		}
		.examples {
			ul {list-style:none;width:100%;margin:0px;padding:0px}
			ul li {float:left;width:50%;position:relative;line-height:0.5}
			.accordion {margin:0px}
			.accordion {	
				img {vertial-align:middle;text-align:center}			
				.name {position:absolute;top:15px;left:15px;z-index:10}
				.name img {width:30%}
				a {display:block;height:100%;width:100%}
			}
			.item1.slider-closed {
				.mask {background-color:rgba(0,158,107,0.7);display:block}
			}
			.item2.slider-closed {
				.mask {background-color:rgba(222,0,0,0.7);display:block}
			}
			.item3.slider-closed {
				.mask {background-color:rgba(0,27,81,0.7);display:block}
			}				
			.item4.slider-closed {
				.mask {background-color:rgba(214,161,43,0.7);display:block}
			}			
		}
	}	
}

.about {
	.about-title {width:50%;margin:auto;padding-top:10px}
	.content {
		margin-top:10px;margin-bottom:20px;background-color:rgba(255,255,255,0.5);padding:20px
	}
	.features {margin-top:30px}
	.content .intro p {
		text-align:left; margin-bottom:10px;font-size:18px;line-height:1.6;text-indent:36px		
	}

	.content .contact {
		div.info {height:500px}
		.map {width:100%;height:350px}
		.info {background-image:url('assets/images/about-contactus-bg.jpg');background-size:cover;padding:30px;box-sizing:border-box}
		.info ul {padding-left:0px;color:white;margin-top:30px}
		.info ul li {line-height:1.8}		
	}
}

.single.single-post {
	.content {
		margin-top:20px;margin-bottom:20px;background-color:rgba(255,255,255,0.5);padding:10px 30px 30px 30px
	}
	.content p {line-height:1.8;text-indent:32px}
	.content img {max-width:100%!important;height:auto!important}
	h3 {text-align:center;font-size:24px;margin-top:5px}
	.post-date {text-align:center;font-size:14px}
}

.category {
	.primary.content {padding-bottom:30px}
	.section-content {margin-top:0px!important}
	.entry-list {
		& {padding:20px 15px}
		.entry-block {padding:15px 0px;box-sizing:border-box;border-bottom:1px dotted #ccc}
		.thumb {width: 200px;height:133px;background-size:cover;background-position:center;}
		.thumb a {display:inline-block;width:100%;height:100%}
		.entry-date {color:#999;font-size:14px;margin-top:5px}
		a:hover {color:#886742}
		.brief {font-size:18px;float:left;padding-top:10px;line-height:1.6;}
	}
	.pagination {
		.nav-links {text-align:center}
		.page-numbers {
			&.current {color:#D2302C}			
		}
		a.page-numbers, .page-numbers.current {padding:10px 15px;border:1px solid #ccc}
		a.page-numbers:hover {color:#886742}
	}
}

/** 藏品分类 **/
.category-antiques {
	& {min-height:500px}
	#footer {display:none}
	.section.categories {
		& {width:100%;padding-top:30px}
		.cate-node {
			& {width:50%;float:left;height:140px;position:relative;text-align:center}
			img {width:120px}
		}
		    
	}
	
	.section {padding:15px;box-sizing:border-box;width:100%}
	
	/** pagePiling **/
	#pagepiling {width:100%;margin:auto}
	#pagepiling .section {width:100%}
	.pp-tooltip {
		color: #666;font-size:16px;padding-right:10px
	}
	#pp-nav {display:none}	
	#pp-nav li {
		margin:10px;height:15px;width:15px
	}
	#pp-nav span {
		width:12px;height:12px;border-color:#999
	}
	
	#mobile-guide {position:fixed;bottom:10px;font-size:14px;width:100%;text-align:center;color:#ccc;z-index:10000}
	#mobile-guide a {color:#aaa}
	
	/** Sly Slider **/		
	.sly.wrap {
		h2 {font-size:18px;text-align:center;margin:10px 0px}
		h2 small {font-family:Times New Roman;font-weight:normal;font-size:20px;margin-left:5px}
		& {width:100%;position: relative;}
		.name, .name-en {font-size:16px;color:#333;text-align:center}
		.name-en {font-size:12px;margin-top:5px;color:#999}
		.cover {height:180px;background-position:center;background-size:contain;background-repeat:no-repeat}		
		.cover a {display:inline-block;width:100%;height:100%;}
		/* Frame */
		.frame {
			height: 300px;
			overflow: hidden;
		}
		.frame ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 100%;
			font-size: 50px;
		}
		.frame ul li {
			float: left;
			width: 165px;
			height: 100%;
			margin: 0 10px 0 0;
			padding: 0;			
			color: #ddd;
			text-align: center;
			cursor: pointer;
		}
		
		.frame ul li:hover .name a {
			color: #ae7b42
		}
		/**
		.frame ul li.active {
			color: #fff;
			background: #a03232;
		}
		**/
		
		/* Scrollbar */
		.scrollbar {
			display:none
		}
		
		/* Pages */
		.pages {
			list-style: none;
			margin: 10px 0;
			padding: 0;
			text-align: center;
		}
		.pages li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			text-indent: -999px;
			border-radius: 10px;
			cursor: pointer;
			overflow: hidden;
			background: #fff;
			box-shadow: inset 0 0 0 1px rgba(174,123,66,.6);
		}
		.pages li:hover {
			background: #d2302c;
		}
		.pages li.active {
			background: #d2302c;
		}
		
		/* Controls */
		.controls { margin: 25px 0; text-align: center; }
	}
}

/**
 * 藏品单页
 */
.page.antique {	
	.remodal {max-width:100%!important}
	.audiojs {max-width:90%!important}
	.audiojs {
		.scrubber {max-width:30%!important}
	}
	ul {list-style:none}
	.wrapper {
	 	& {width:100%;margin:auto}
		.cover-img {display:table;height:300px;width:100%}
		.cover-img .img-container {width:100%;display:table-cell;vertical-align:middle;text-align:center}	
		.cover-img .img-container img {max-height:300px;max-width:100%;}
		.actions {
			ul {width:270px;margin:15px auto 10px auto;height:35px;padding:0px}
			li a {display:inline-block;width:100%;height:100%}
			li {float:left;height:35px;width:35px;border:1px solid #ccc;border-radius:5px;margin:0px 10px;cursor:pointer}
			li {background-image:url('assets/images/icon-antique-show.png');background-repeat:no-repeat;background-size:auto 32px}
			li.audio-en {background-position:-68px 1px}
			li.audio-cn {background-position:-124px 1px}	
			li.showcase-360 {background-position:-10px 1px}
			li.video-play {background-position:-180px 1px}		
		}
		.title, .description, .title-en, .params {text-align:left;padding-left:15px;padding-right:15px}
		.title {
			border-top:1px solid #ccc;padding-top:30px;
			margin-top:20px;line-height:32px;font-size:24px;padding-left:45px;background-image:url('assets/images/icon-square-28px.png');background-repeat:no-repeat;background-size:20px 20px;background-position:15px 38px
		}
		.title-en {margin-top:10px;font-size:14px}
		.params {line-height:1.6;color:#999;margin-top:15px;font-size:14px}
		.description {
			padding-bottom:30px;margin-top:30px;line-height:1.6
		}
	}
	.audio-commentary {margin-top:35px;padding-left:20px}
	
	#footer {margin-top:50px}
	
	.thumbs {
		& {position:relative;margin-top:15px;padding:0px 20px}
		.prev, .next {display:none}
		li > div {width:100px;height:65px;background-repeat:no-repeat;background-size:contain;background-position:center;}
		li.active div {background-color:#eaeaea}
		/* Frame */
		.frame {
			height: 100px;
			overflow: hidden;
		}
		.frame ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 100%;
			font-size: 50px;
		}
		.frame ul li {
			width:116px;
			padding:10px 8px;
			box-sizing:border-box;
			float: left;			
			height: 83px;
			margin: 0 15px 0 0;				
			color: #ddd;
			text-align: center;
			cursor: pointer;
		}
		
		.frame ul li:hover {
			.name {color: #ae7b42}
		}
		.frame ul li.active {			
			background-color:#eaeaea;
		}
		
		/* Scrollbar */
		.scrollbar {
			margin: 0 0 1em 0;
			height: 2px;
			background: #ccc;
			line-height: 0;
		}
		.scrollbar .handle {
			width: 100px;
			height: 100%;
			background: #ae7b42;
			cursor: pointer;
		}
		.scrollbar .handle .mousearea {
			position: absolute;
			top: -9px;
			left: 0;
			width: 100%;
			height: 20px;
		}
		
		/* Pages */
		.pages {
			list-style: none;
			margin: 0px auto 10px auto;
			padding: 0;
			text-align: center;
		}
		.pages li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			text-indent: -999px;
			border-radius: 10px;
			cursor: pointer;
			overflow: hidden;
			background: #fff;
			box-shadow: inset 0 0 0 1px rgba(0,0,0,.6);
		}
		.pages li:hover {
			background: #ccc;
		}
		.pages li.active {
			background: #333;
		}
	}
}

/** 预约看展 **/
.page.reservation {	
	.info-title, .notice-title {width:100px}
	.row {margin-bottom:5px}
	.info {
		& {width:100%;padding:20px 15px 15px 15px}
		.required {color:#d20412}
		.form {margin-top:15px}
		
		/** Override Materialize **/
		.input-field>label {font-size:16px;color:#666}
		.disabled {font-size:18px;color:#333;opacity:1}
		form .row { 
			&.static {margin-top:20px;margin-bottom:10px}
			.title {font-size:16px;margin-bottom:15px;color:#666;}			
			label.checkbox {margin-right:15px}

		}
		.verify-code img {margin-top:20px}
		
	}
	.notice {
		& {background-image:url('assets/images/tickets-notice-bg.jpg');padding:15px;line-height:1.6}
		h2 {font-size:18px;padding-top:15px;margin-bottom:5px;border-top:1px solid #7f7f7f;color:#AA773E}
		strong {color:#AA773E}
	}
}


#footer {
	& {
		font-size:12px;
		height:120px;
		width:100%;clear:both;float:none;
		background-color:#2D2D2D;background-image:url('assets/images/footer-divider.jpg');
		background-size:auto 50px;background-repeat:repeat-x;background-position:top left;
	}
	.wrapper {
		padding-top:75px;text-align:center;color:white
	}		
}