@charset "UTF-8";
* {
  list-style-type: none; }

/**
 * Variables
 */
.wrapper {
  width: 1000px;
  margin: auto; }

body.category, body.bg-general {
  background-image: url("assets/images/bg-general.jpg");
  background-attachment: fixed;
  background-position: center -150px;
  background-size: cover;
  background-repeat: no-repeat; }

body.category #nav-divider {
  margin-bottom: 0px !important; }

.clear {
  float: none !important;
  clear: both !important; }

#nav {
  width: 100%;
  height: 200px; }

#nav .logo img {
  width: 160px; }

#nav .header.wrapper {
  padding-top: 30px;
  position: relative; }

#nav .menu {
  position: absolute;
  top: 55px;
  right: 0px; }

#nav .menu li[class~=text] {
  background-image: url("assets/images/menu.png");
  background-repeat: no-repeat;
  background-size: 500px 60px; }

#nav .menu li[class~=text] a {
  display: inline-block;
  width: 120px;
  height: 60px; }

#nav .menu li[class~=text]:hover, #nav .menu li[class~=text].active {
  background-image: url("assets/images/menu-active.png");
  background-repeat: no-repeat;
  background-size: 500px 60px; }

#nav .menu li {
  height: 60px;
  float: left;
  width: 120px; }

#nav .menu li.antiques {
  background-position: -122px 0px;
  width: 130px; }

#nav .menu li.tickets {
  background-position: -260px 0px; }

#nav .menu li.about {
  background-position: -395px 0px; }

#nav .menu li.search a {
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
  background-image: url("assets/images/icon-search.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px; }

#nav-divider {
  height: 16px;
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-image: url("assets/images/header-divider.png"); }

.frontpage #nav {
  background-size: cover;
  height: 650px;
  background-image: url("assets/images/frontpage-header-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center; }

.frontpage .btn {
  display: inline-block;
  padding: 8px 50px;
  font-size: 16px;
  background: #AE773E;
  color: white;
  border-radius: -5px; }

.frontpage #slides {
  position: absolute;
  top: 180px;
  width: 100%; }

.frontpage #slides .wrapper {
  text-align: center; }

.frontpage .bg {
  background-image: url("assets/images/frontpage-bg.jpg"); }

.frontpage .content {
  padding-top: 30px;
  padding-bottom: 80px; }

.frontpage .content h2 {
  margin: 0px;
  padding: 0px; }

.frontpage .content .more a:hover {
  opacity: 0.9; }

.frontpage .content div {
  background-repeat: no-repeat;
  background-size: cover;
  background-background-position: center; }

.frontpage .content .news {
  background-image: url("assets/images/bg-news.jpg");
  float: left;
  width: 550px; }

.frontpage .content .news ul {
  list-style-image: url("assets/images/list-square.png") !important;
  padding-left: 20px; }

.frontpage .content .news ul li {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 15px; }

.frontpage .content .news ul li .date {
  display: inline-block;
  margin-left: 15px;
  font-size: 14px;
  color: #666; }

.frontpage .content .news ul li a:hover {
  color: #886742; }

.frontpage .content .news h2 {
  color: #886742;
  margin-left: 20px; }

.frontpage .content .tickets {
  background-image: url("assets/images/bg-tickets.jpg");
  float: right;
  width: 430px; }

.frontpage .content .tickets h2 {
  color: #3d5079; }

.frontpage .content .news, .frontpage .content .tickets {
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 380px;
  position: relative; }

.frontpage .content .news h2, .frontpage .content .tickets h2 {
  font-size: 24px;
  font-weight: normal; }

.frontpage .content .news h2.eng, .frontpage .content .tickets h2.eng {
  font-size: 16px; }

.frontpage .content .news .more, .frontpage .content .tickets .more {
  position: absolute;
  bottom: 20px; }

.frontpage .content .tickets .more {
  left: 30px; }

.frontpage .content .news .more {
  right: 30px; }

.frontpage .content .antiques {
  clear: both;
  float: none;
  padding-top: 20px; }

.frontpage .content .antiques .intro {
  width: 350px;
  float: left;
  height: 500px;
  background-image: url("assets/images/bg-antiques.jpg"); }

.frontpage .content .examples {
  float: right;
  width: 650px; }

.frontpage .content .examples .accordion {
  margin: 0px; }

.frontpage .content .examples .accordion .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1; }

.frontpage .content .examples .accordion .name {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10; }

.frontpage .content .examples .item1.slider-closed .mask {
  background-color: rgba(0, 158, 107, 0.7); }

.frontpage .content .examples .item2.slider-closed .mask {
  background-color: rgba(222, 0, 0, 0.7); }

.frontpage .content .examples .item3.slider-closed .mask {
  background-color: rgba(0, 27, 81, 0.7); }

.frontpage .content .examples .item4.slider-closed .mask {
  background-color: rgba(214, 161, 43, 0.7); }

.about .content {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px; }

.about .content .intro p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.6; }

.about .features {
  width: 800px;
  margin: 50px auto; }

.about .content .contact {
  padding-bottom: 100px; }

.about .content .contact div.map, .about .content .contact div.info {
  height: 350px; }

.about .content .contact .map {
  float: left;
  width: 350px; }

.about .content .contact .info {
  float: right;
  width: 640px;
  background-image: url("assets/images/about-contactus-bg.jpg");
  background-size: cover;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.about .content .contact .info ul {
  padding-left: 0px;
  color: white;
  margin-top: 30px; }

.about .content .contact .info ul li {
  line-height: 1.8; }

.single.single-post .content {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px; }

.single.single-post .content p {
  line-height: 1.8;
  text-indent: 32px; }

.single.single-post h3 {
  text-align: center;
  font-size: 24px; }

.single.single-post .post-date {
  text-align: center;
  font-size: 14px; }

.category .primary.content {
  padding-bottom: 100px; }

.category .entry-list {
  padding-top: 20px;
  padding-bottom: 50px; }

.category .entry-list .entry-block {
  float: left;
  width: 490px;
  padding: 15px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.category .entry-list .thumb {
  width: 200px;
  height: 133px;
  background-size: cover;
  background-position: center;
  float: left; }

.category .entry-list .thumb a {
  display: inline-block;
  width: 100%;
  height: 100%; }

.category .entry-list .entry-block.odd {
  margin-right: 15px; }

.category .entry-list .entry-block.odd .brief {
  border-right: 1px solid #ccc; }

.category .entry-list .entry-date {
  color: #999;
  font-size: 14px;
  margin-top: 5px; }

.category .entry-list a:hover {
  color: #886742; }

.category .entry-list .brief {
  min-height: 133px;
  font-size: 18px;
  float: left;
  padding: 0px 15px 0px 30px;
  width: 285px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
  background-image: url("assets/images/icon-list-square.png");
  background-repeat: no-repeat;
  background-position: 10px 8px;
  background-size: 12px 12px; }

.category .pagination .nav-links {
  text-align: center; }

.category .pagination .page-numbers.current {
  color: #D2302C; }

.category .pagination a.page-numbers, .category .pagination .page-numbers.current {
  padding: 10px 15px;
  border: 1px solid #ccc; }

.category .pagination a.page-numbers:hover {
  color: #886742; }

/**
  * 藏品单页
  */
.antique, .category-antiques {
  min-width: 1200px !important; }

.antique #nav, .category-antiques #nav {
  position: fixed;
  left: 20px;
  top: 40px;
  width: 150px;
  height: 400px;
  z-index: 10000; }

.antique #nav .wrapper, .category-antiques #nav .wrapper {
  position: relative;
  padding-top: 0px;
  width: 130px; }

.antique #nav .logo img, .category-antiques #nav .logo img {
  width: 120px; }

.antique #nav .menu, .category-antiques #nav .menu {
  position: absolute;
  left: 0px;
  top: 110px;
  padding-left: 0px;
  margin-left: 0px;
  width: 100px; }

.antique #nav .menu li, .category-antiques #nav .menu li {
  float: none;
  clear: both;
  opacity: 0; }

.antique #nav .menu a:hover, .category-antiques #nav .menu a:hover {
  text-decoration: none; }

.antique #nav .menu .search, .category-antiques #nav .menu .search {
  display: none; }

.category-antiques {
  min-height: 500px; }

.category-antiques #footer {
  display: none; }

.category-antiques .categories table {
  width: 100%; }

.category-antiques .categories table td {
  width: 25%;
  height: 250px;
  position: relative;
  text-align: center; }

.category-antiques .categories table td img {
  width: 180px; }

.category-antiques .categories table td:hover .mask {
  display: none; }

.category-antiques .categories table td:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.category-antiques .categories table td .mask {
  position: absolute;
  width: 180px;
  height: 180px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  left: 35px; }

/**
 * BaiduMap
 */
.anchorBL {
  display: none; }

#footer {
  font-size: 14px;
  height: 120px;
  width: 100%;
  clear: both;
  float: none;
  background-color: #2D2D2D;
  background-image: url("assets/images/footer-divider.jpg");
  background-size: auto 50px;
  background-repeat: repeat-x;
  background-position: top left; }

#footer .wrapper {
  padding-top: 75px;
  text-align: center;
  color: white; }

/*# sourceMappingURL=style-desktop.css.map */
