@charset "UTF-8";

* {list-style-type:none;}

/**
 * Variables
 */
$nav-height:100px;
$content-width:1000px;
$red:#D6000F;

.wrapper {
	width: $content-width;margin:auto
}

body {
	&.category, &.bg-general {background-image:url('assets/images/bg-general.jpg');background-attachment:fixed;background-position:center -150px;background-size:cover;background-repeat: no-repeat}
}

body.category {
	#nav-divider {margin-bottom:0px!important}
} 

.clear {float:none!important;clear:both!important}

.mobile {display:none}

#nav {
	& {width: 100%; height:200px}
	.logo img {width: 160px}
	.header.wrapper {padding-top:30px;position:relative}
	.menu {
		position:absolute;top:55px;right:0px
	}
	.menu li[class~=text] {
		& {background-image:url('assets/images/menu.png');background-repeat:no-repeat;background-size:500px 60px;}
		a {display:inline-block;width:120px;height:60px}
	}
	.menu li[class~=text]:hover, .menu li[class~=text].active {
		background-image:url('assets/images/menu-active.png');background-repeat:no-repeat;background-size:500px 60px;
	}
	.menu li {
		height:60px;float:left;width:120px				
	}
	
	.menu li {
		&.antiques {background-position:-122px 0px;width:130px}
		&.tickets {background-position:-260px 0px}
		&.about {background-position:-395px 0px}
	}
	
	.menu li.search a {margin-top:20px;margin-left:30px;display:inline-block;background-image:url('assets/images/icon-search.png');background-repeat:no-repeat;background-size:cover;height:20px;width:20px}
}

#nav-divider {height:16px;background-repeat:repeat-x;background-size:auto 100%;background-image:url('assets/images/header-divider.png')}

.frontpage {
	#nav {
		background-size:cover;height:650px;background-image:url('assets/images/frontpage-header-bg.jpg');background-repeat:no-repeat;background-position:top center;
	}
	
	.btn {
		display:inline-block;padding:8px 50px;font-size:16px;background:#AE773E;color:white;border-radius:-5px
	}
	
	#slides {position:absolute;top:180px;width:100%;}
	#slides .wrapper {text-align:center}
	.bg {background-image:url('assets/images/frontpage-bg.jpg')}		
	.content {	
		& {padding-top:30px;padding-bottom:80px}
		h2 {margin:0px;padding:0px}	
		.more a:hover {opacity:0.9}
		div {background-repeat:no-repeat;background-size:cover;background-position:center}
		.news {background-image:url('assets/images/bg-news.jpg');float:left;width:550px;}
		.news ul {			
			list-style-image:url("assets/images/list-square.png")!important;
			padding-left:20px;
		}	
		.news ul li {
			& {font-size:18px;line-height:1.5;margin-top:15px}
			.date {display:inline-block; margin-left:15px;font-size:14px;color:#666}
			a:hover {color:#886742}			
		}
		.news h2 {color:#886742;margin-left:20px}		
		.tickets {background-image:url('assets/images/bg-tickets.jpg');float:right;width:430px;}
		.tickets h2 {color:#3d5079}
		.news, .tickets  {
			&  {padding:30px;box-sizing:border-box;height:380px;position:relative}
			h2 {font-size:24px;font-weight:normal}
			h2.eng {font-size:16px;margin-top:5px}
			.more {position:absolute;bottom:20px}
		}
		.tickets .more {left:30px}
		.news .more {right:30px}		
		.antiques {clear:both;float:none;padding-top:20px}	
		.antiques {
			.intro {width:350px;float:left;height:500px;background-image:url('assets/images/bg-antiques.jpg');}
			.intro .title {margin-top:150px}
			.intro .more {margin-top:80px}
		}
		.examples {
			& {float:right;width:650px}
			.accordion {margin:0px}
			.accordion {
				.mask {position:absolute;width:100%;height:100%;top:0px;left:0px;z-index:1;display:none}
				.name {position:absolute;top:15px;left:15px;z-index:10}				
			}
			.item1.slider-closed {
				.mask {background-color:rgba(0,158,107,0.7);display:block}
			}
			.item2.slider-closed {
				.mask {background-color:rgba(222,0,0,0.7);display:block}
			}
			.item3.slider-closed {
				.mask {background-color:rgba(0,27,81,0.7);display:block}
			}				
			.item4.slider-closed {
				.mask {background-color:rgba(214,161,43,0.7);display:block}
			}			
		}
	}	
}

.about {
	.content {
		margin-top:20px;margin-bottom:50px;background-color:rgba(255,255,255,0.5);padding:30px
	}
	.content .intro p {
		text-align:center; margin-bottom:30px;font-size:18px;line-height:1.6		
	}
	.about-title {width:170px;margin:auto;padding-top:30px}
	.features { width:800px;margin:50px auto}
	.content .contact {
		& {padding-bottom:100px}
		div.map, div.info {height:350px}
		.map {float:left;width:350px}
		.info {float:right;width:640px;background-image:url('assets/images/about-contactus-bg.jpg');background-size:cover;padding:30px;box-sizing:border-box}
		.info ul {padding-left:0px;color:white;margin-top:30px}
		.info ul li {line-height:1.8}		
	}
}

.single.single-post {
	.content {
		margin-top:20px;margin-bottom:50px;background-color:rgba(255,255,255,0.5);padding:30px
	}
	.content p {line-height:1.8;text-indent:32px}
	h3 {text-align:center;font-size:24px}
	.post-date {text-align:center;font-size:14px}
}

.category {
	.primary.content {padding-bottom:100px}
	.entry-list {
		& {padding-top:20px;padding-bottom:50px}
		.entry-block {float:left;width:490px;padding:15px 0px;box-sizing:border-box}
		.thumb {width: 200px;height:133px;background-size:cover;background-position:center;float:left}
		.thumb a {display:inline-block;width:100%;height:100%}
		.entry-block.odd {margin-right:15px}
		.entry-block.odd .brief {border-right:1px solid #ccc;}
		.entry-date {color:#999;font-size:14px;margin-top:5px}
		a:hover {color:#886742}
		.brief {min-height:133px;font-size:18px;float:left;padding:0px 15px 0px 30px;width:285px;box-sizing:border-box;line-height:1.6;background-image:url('assets/images/icon-list-square.png');background-repeat:no-repeat;background-position:10px 8px;background-size:12px 12px}
	}
	.pagination {
		.nav-links {text-align:center}
		.page-numbers {
			&.current {color:#D2302C}			
		}
		a.page-numbers, .page-numbers.current {padding:10px 15px;border:1px solid #ccc}
		a.page-numbers:hover {color:#886742}
	}
}

/**
  * 藏品单页
  */
.antique, .category-antiques {
	& {min-width:1200px!important}
	#nav {
		& {position:fixed;left:20px;top:40px;width:150px;height:400px;z-index:10000}
		& .wrapper {position:relative;padding-top:0px;width:130px}
		.logo img {width:120px}		
		.menu {position:absolute;left:0px;top:110px;padding-left:0px;margin-left:0px;width:100px}
		.menu li {float:none;clear:both;opacity:0}
		.menu a:hover {text-decoration:none}	
		.menu .search {display:none}		
	}
	#nav-divider {position:fixed;top:0px;left:0px;width:100%;z-index:10000}	
}

.category-antiques {
	& {min-height:500px}
	#footer {display:none}
	.section.categories {
		& {width:100%}
		.cate-node {
			& {width:25%;float:left;height:250px;position:relative;text-align:center}
			&:hover .mask {display:none}
			&:hover img {transform: scale(1.2);transition:all 0.3s ease-out}
			& .mask { position:absolute;width:180px;height:180px;background:rgba(0,0,0,0.2);border-radius:150px;left:35px}
			img {width:180px}
		}
		    
	}
	
	/** pagePiling **/
	#pagepiling {width:1000px;margin:auto}
	#pagepiling .section {width:1000px}
	.pp-tooltip {
		color: #666;font-size:16px;padding-right:10px
	}
	#pp-nav li {
		margin:10px;height:15px;width:15px
	}
	#pp-nav span {
		width:12px;height:12px;border-color:#999
	}
	
	/** Sly Slider **/		
	.sly.wrap {
		h2 {padding-left:30px;background-image:url('assets/images/icon-square-28px.png');background-repeat:no-repeat;background-size:20px 20px;background-position:0px 8px}
		h2 small {font-family:Times New Roman;font-weight:normal;font-size:20px;margin-left:5px}
		& {width:1000px;position: relative;margin: 3em 0;}
		.name, .name-en {font-size:16px;color:#333;text-align:center}
		.name-en {font-size:12px;margin-top:5px;color:#999}
		.cover {height:300px;background-position:center;background-size:contain;background-repeat:no-repeat}		
		.cover a {display:inline-block;width:100%;height:100%;}
		/* Frame */
		.frame {
			height: 400px;
			overflow: hidden;
		}
		.frame ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 100%;
			font-size: 50px;
		}
		.frame ul li {
			float: left;
			width: 190px;
			height: 100%;
			margin: 0 10px 0 0;
			padding: 0;			
			color: #ddd;
			text-align: center;
			cursor: pointer;
		}
		
		.frame ul li:hover .name a {
			color: #ae7b42
		}
		/**
		.frame ul li.active {
			color: #fff;
			background: #a03232;
		}
		**/
		
		/* Scrollbar */
		.scrollbar {
			margin: 0 0 1em 0;
			height: 2px;
			background: #ccc;
			line-height: 0;
		}
		.scrollbar .handle {
			width: 100px;
			height: 100%;
			background: #ae7b42;
			cursor: pointer;
		}
		.scrollbar .handle .mousearea {
			position: absolute;
			top: -9px;
			left: 0;
			width: 100%;
			height: 20px;
		}
		
		/* Pages */
		.pages {
			list-style: none;
			margin: 20px 0;
			padding: 0;
			text-align: center;
		}
		.pages li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			text-indent: -999px;
			border-radius: 10px;
			cursor: pointer;
			overflow: hidden;
			background: #fff;
			box-shadow: inset 0 0 0 1px rgba(174,123,66,.6);
		}
		.pages li:hover {
			background: #d2302c;
		}
		.pages li.active {
			background: #d2302c;
		}
		
		/* Controls */
		.controls { margin: 25px 0; text-align: center; }
	}
}

/**
 * 藏品单页
 */
.page.antique {
	.primary.content {min-height:800px}
	.wrapper {
	 	& {width:800px;margin:auto;padding-top:50px}
		.cover-img {display:table;height:500px;width:100%}
		.cover-img .img-container {width:100%;display:table-cell;vertical-align:middle;text-align:center}	
		.cover-img .img-container img {max-width:500px;max-height:500px}
		.actions {
			ul {width:270px;margin:40px auto 30px auto;height:45px;padding:0px}
			li a {display:inline-block;width:100%;height:100%}
			li {float:left;height:45px;width:45px;border:1px solid #ccc;border-radius:5px;margin:0px 10px;cursor:pointer}
			li {background-image:url('assets/images/icon-antique-show.png');background-repeat:no-repeat;background-size:auto 40px}
			li.audio-en {background-position:-84px 2px}
			li.audio-cn {background-position:-155px 2px}	
			li.showcase-360 {background-position:-12px 2px}
			li.video-play {background-position:-225px 2px}		
		}
		.title, .description, .title-en {text-align:left}
		.title {
			border-top:1px solid #ccc;padding-top:30px;
			margin-top:50px;line-height:32px;font-size:24px;padding-left:30px;background-image:url('assets/images/icon-square-28px.png');background-repeat:no-repeat;background-size:20px 20px;background-position:0px 38px
		}
		.title-en {margin-top:10px;font-size:14px}
		.params {color:#999;margin-top:15px;font-size:14px;line-height:1.6}
		.description {
			padding-bottom:30px;margin-top:30px;line-height:1.6
		}
	}
	.audio-commentary {margin-top:35px;padding-left:20px}
	
	#footer {margin-top:150px}
	
	.thumbs {
		& {position:relative;margin-top:50px}
		.prev, .next {cursor:pointer;position:absolute;top:30px;background-image:url('assets/images/icon-arrow.png');background-repeat:no-repeat;height:80px;width:40px;background-size:auto 80px}
		.prev {left:-80px;background-position:-10px 0px}
		.next {right: -70px;background-position:-95px 0px} 
		li > div {width:170px;height:112px;background-repeat:no-repeat;background-size:contain;background-position:center;}
		li.active div {background-color:#eaeaea}
		/* Frame */
		.frame {
			height: 180px;
			overflow: hidden;
		}
		.frame ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 100%;
			font-size: 50px;
		}
		.frame ul li {
			width:186px;
			padding:10px 8px;
			box-sizing:border-box;
			float: left;			
			height: 132px;
			margin: 0 15px 0 0;				
			color: #ddd;
			text-align: center;
			cursor: pointer;
		}
		
		.frame ul li:hover {
			.name {color: #ae7b42}
		}
		.frame ul li.active {			
			background-color:#eaeaea;
		}
		
		/* Scrollbar */
		.scrollbar {
			margin: 0 0 1em 0;
			height: 2px;
			background: #ccc;
			line-height: 0;
		}
		.scrollbar .handle {
			width: 100px;
			height: 100%;
			background: #ae7b42;
			cursor: pointer;
		}
		.scrollbar .handle .mousearea {
			position: absolute;
			top: -9px;
			left: 0;
			width: 100%;
			height: 20px;
		}
		
		/* Pages */
		.pages {
			list-style: none;
			margin: 0px auto 20px auto;
			padding: 0;
			text-align: center;
		}
		.pages li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			text-indent: -999px;
			border-radius: 10px;
			cursor: pointer;
			overflow: hidden;
			background: #fff;
			box-shadow: inset 0 0 0 1px rgba(0,0,0,.6);
		}
		.pages li:hover {
			background: #ccc;
		}
		.pages li.active {
			background: #333;
		}
	}
}

/** 预约看展 **/
.page.reservation {
	#footer {margin-top:100px}
	.info {
		& {float:left;width:500px;padding:15px}
		.required {color:#d20412}
		.form {margin-top:30px}
		
		/** Override Materialize **/
		.input-field>label {font-size:16px;color:#666}
		.disabled {font-size:18px;color:#333;opacity:1}
		form .row { 
			&.static {margin-top:40px;margin-bottom:30px}
			.title {font-size:16px;margin-bottom:15px;color:#666;}
			
			label.checkbox {margin-right:15px}

		}
		
	}
	.notice {
		& {float:right;height: 750px;width: 400px;background-image:url('assets/images/tickets-notice-bg.jpg');padding:15px;line-height:1.6}
		h2 {font-size:18px;padding-top:15px;margin-bottom:5px;border-top:1px solid #7f7f7f;color:#AA773E}
		strong {color:#AA773E}
	}
}

#footer {
	& {
		font-size:14px;
		height:120px;
		width:100%;clear:both;float:none;
		background-color:#2D2D2D;background-image:url('assets/images/footer-divider.jpg');
		background-size:auto 50px;background-repeat:repeat-x;background-position:top left;
	}
	.wrapper {
		padding-top:75px;text-align:center;color:white
	}		
}

